body {
    /*border: 1px solid red !important;*/
    font-family: "Rhodium Libre", serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /*border: 1px solid #ffd800 !important;*/
}

.img-github {
    margin-top: 19.920px;
    opacity: 0.5;
}

.heading {
    color: #bcbbbb;
    margin: 0;
}

 .grid {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.right {
    display: block;
    margin: 0 0 0 auto;
}

.heading-feature {
    color: #bcbbbb;
    margin: 20px 0 0 0;
}

.heading-url {
    color: #bcbbbb;
    margin: 0;
    font-weight: bolder;
}

.app-title {
    color: darkgrey;
    text-align: center;
}

.ruler {
    background-color: #bcbbbb;
    margin-top: 30px;
    padding: 1px;
}

.img-mazescale {
    width: 100%;
}

.img-appscale {
    width: 60%;
   }

.flex-container {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-content: space-around;
    -webkit-align-content: space-around;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-around;
}

.app-imgelement {
    margin: 0 0 0 40px;
}

.app-listelement {
    margin: 20px; 
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    /*background-color: aquamarine;
    border: 1px solid red !important;*/
}

/*TODO: combine with other flex class */
.footer-content {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    -ms-align-content: flex-end;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}